.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(187, 187, 187, 0.281);
}

.header__logo {
    height: 40px;
    object-fit: contain;
    color: red;
}

.header__icon {
    padding: 20px;
}